h1 {
    font-family: Ubuntu;
    font-weight: bolder;
    font-size: 4rem;
    line-height: 5rem;
    color: #ffaaa5;
}

@media (max-width: 600px){
    h1 {
        font-size: 2rem;
        line-height: 3rem;
    }
}

h2 {
    font-family: Montserrat;
    font-weight: bolder;
    line-height: 5rem;
    color: white;
}

@media (max-width: 600px){
    h2 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

h3 {
    padding: 5% 0%;
    font-family: Montserrat;
    font-size: 2rem;
    color: #707070;
    font-weight: bolder;
}

p {
    line-height: 2rem;
    font-family: Montserrat;
    font-size: 1rem;
    color: #707070;

}

.banner {
    text-align: center;
    background-color: #a8e6cf;
    padding: 3% 3%;
}

.weightbox {
    padding: 3% 1%;
    font-family: Montserrat;
    background-color: #dcedc1;
}

.labelInputs {
    font-size: 2rem;
    font-weight: bolder;
    color: #707070;
}

.result {
    text-align: center;
    padding-top: 10%;
    /* padding: 5%; */
}

.calcbtn {
    margin: 0% 35%;
}

#yourbmi {
    text-align: center;
    font-family: Ubuntu;
    color: #ffaaa5;
    font-size: 10rem;
    margin: 10% 10%;
}